@model Main_Node.Models.Task

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Task</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label for="furl" class="control-label">URL</label>
                <input type="url" id="furl" name="URL"/>
            </div>
            <div class="form-group">
                <label for="fmethod" class="control-label">Methode</label>
                <select id="fmethod"  name="Method" class="form-control">
                    <option value="1">Allways True</option>
                    <option value="2">Allways False</option>
                    <option value="3">XceptionNet</option>
                    <option value="4" selected>Run All</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}